<%- include("../partials/header") %>

<div class="container my-4">
  <header class="jumbotron">
    <h1>Welcome to YelpCamp!</h1>
    <p>View and pick the place you want</p>
    <a class="btn btn-primary btn-md" href="/campgrounds/new"
      >Create new campground</a
    >
  </header>

  <div class="row">
    <% campGrounds.forEach(({_id, name, image, views}) => { %>
    <div class="col-lg-4 col-md-6 col-sm-12 my-2">
      <div class="card">
        <img class="card-img-top" src= <%= image %> alt= <%= name %>>
        <div class="card-body">
          <h4 class="card-title text-center"><%= name %></h4>
          <a class="btn float-left" href="#">
            <span><i class="far fa-eye"></i></span>
            <span><%= views.length %></span>
          </a>
          <a class="btn btn-info float-right" href="/campgrounds/<%= _id %>"
            >More info</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <nav aria-label="Page navigation">
    <% if (totalNumberOfPages && totalNumberOfPages > 0) { %>
      <ul class="pagination justify-content-center">
        <% if (currentPageNumber == 1) { %>
          <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
          <li><a class="page-link" href="/campgrounds">First</a></li>
        <% } %> 
        <% if (currentPageNumber == 1) { %>
          <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
          <li>
            <a
              class="page-link"
              href="/campgrounds?page=<%= Number(currentPageNumber) - 1 %>&search=<%= searchKeyword %>"
              >«</a
            >
          </li>
        <% } %> 
        <% var i = (Number(currentPageNumber) > 5 ? Number(currentPageNumber) - 4 : 1) %> 
        <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %> 
        <% for (; i <= (Number(currentPageNumber) + 4) && i <= totalNumberOfPages; i++) { %> 
          <% if (i == currentPageNumber) { %>
            <li class="active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
            <li>
              <a class="page-link" href="/campgrounds?page=<%= i %>&search=<%= searchKeyword %>"><%= i %></a>
            </li>
          <% } %> 
          <% if (i == Number(currentPageNumber) + 4 && i < totalNumberOfPages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %> 
        <% } %> 
        <% if (currentPageNumber == totalNumberOfPages) { %>
          <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
          <li>
            <a
              class="page-link"
              href="/campgrounds?page=<%= Number(currentPageNumber) + 1 %>&search=<%= searchKeyword %>"
              >»</a
            >
          </li>
        <% } %> 
        <% if (currentPageNumber == totalNumberOfPages) { %>
          <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
          <li>
            <a class="page-link" href="/campgrounds?page=<%= totalNumberOfPages %>&search=<%= searchKeyword %>"
              >Last</a
            >
          </li>
        <% } %>
      </ul>
    <% } %>
  </nav>
</div>

<%- include("../partials/footer") %>
