<%- include("../partials/header") %>


<div class="container my-4">
    <header class="jumbotron">
        <h1>Welcome to YelpCamp!</h1>
        <p>View and pick the place you want</p>
        <a class="btn btn-primary btn-md" href="/campgrounds/new">Create new campground</a>
    </header>


    <div class="row">
        <% campGrounds.forEach(({_id, name, image}) => { %>
            <div class="col-lg-4 col-md-6 col-sm-12 my-2" >
                <div class="card">
                    <img class="card-img-top" src= <%= image %> alt= <%= name %>>
                    <div class="card-body">
                        <h4 class="card-title text-center"><%= name %></h4>
                        <a class="btn float-left" href="#">
                            <span><i class="fas fa-star fa-sm" style="color: rgb(223, 223, 89)"></i></span>
                            <span><i class="fas fa-star fa-sm"></i></span>
                            <span><i class="fas fa-star fa-sm"></i></span>
                            <span><i class="fas fa-star fa-sm"></i></span>
                            <span><i class="fas fa-star fa-sm"></i></span>
                            <span>(5)</span>
                        </a>
                        <a class="btn btn-info float-right" href="/campgrounds/<%= _id %>">More info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>


<%- include("../partials/footer") %>