<% include ../partials/header %>

<div class="container mt-3">
  <div class="row">
    <div class="col-md-3">
      <h2 class="mb-3">YelpCamp</h2>
      <ul class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 1</li>
        <li class="list-group-item">Info 1</li>
      </ul>
      <div id="map" style="width: 100%; height: 50%"></div>
    </div>
    <div class="col-md-9">
      <div class="card">
        <img class="card-img-top" src="<%= campground.image %>"" alt="<%=
        campground.name %>">
        <div class="card-body">
          <h3 class="card-title"><a href="#"><%= campground.name %></a></h3>
          <h6 class="card-subtitle text-right mb-2">
            $<%= campground.price %>
          </h6>
          <p class="card-text"><%= campground.description %></p>
          <% if(user && campground.author.id.toString() ===
          user._id.toString()){ %>
          <a
            href="/campgrounds/<%= campground._id %>/edit"
            class="btn btn-warning"
            >Edit</a
          >
          <form
            action="/campgrounds/<%= campground._id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button class="btn btn-danger">Remove</button>
          </form>
          <% } %>
          <p class="card-text font-weight-bold font-italic text-right">
            Submitted by <%= campground.author.username %>
          </p>
        </div>
        <ul
          class="list-group list-group-flush pt-3"
          style="background-color: lightgrey"
        >
          <a
            href="/campgrounds/<%= campground._id %>/comments/new"
            class="btn btn-success ml-auto mb-3 mr-3"
            >Add new comment</a
          >
          <% campground.comments.forEach(comment => { %>
          <li class="list-group-item" style="background-color: lightgrey;">
            <div>
              <strong class="d-inline-block"
                ><%= comment.author.username %></strong
              >
              <span class="d-inline-block float-right">10 days ago</span>
              <span class="d-block my-2"><%=comment.text %></span>
              <% if(user && comment.author.id.toString() ===
              user._id.toString()){ %>
              <span>
                <a
                  class="btn btn-warning btn-sm"
                  href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit"
                >
                  Edit
                </a>
              </span>
              <form
                action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                class="d-inline-block"
                method="POST"
              >
                <button class="btn btn-danger btn-sm">Remove</button>
              </form>
              <% } %>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  function initMap() {
    const lat = <%= campground.latitude %>;
    const lng = <%= campground.longitude %>;
    const center = {lat: lat, lng: lng };
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    const contentString = `
      <strong><%= campground.name %>,<br /></strong>
      <%= campground.location %>
    `
    const infoWindow = new google.maps.InfoWindow({
      content: contentString
    });
    const marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infoWindow.open(map, marker);
    });
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_8vmgNaDIsXu7J1oJwF5GbO5RY0N3_i8&callback=initMap"
></script>

<% include ../partials/footer %>
