  <a
    class="nav-link"
    href="#"
    id="navbarDropdown"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    <i
      class="fa fa-bell notification-icon"
      data-count="<%= newMessages.length %>"
    ></i>
  </a>
  <ul class="dropdown-menu" style="right: 0px; left: unset; width: 450px">
    <li class="text-light bg-dark">
      <div class="row">
        <div class="col-lg-12 col-sm-12 col-12">
          <span class="pl-1">Notifications</span>
          <a href="" class="float-right text-light pr-1">Mark all as read</a>
        </div>
      </div>
    </li>
    <% newMessages.forEach(message => { %>
      <li class="py-2">
        <a class="row" href="<%= message.type === 'campground' ? '/campgrounds/' + message._id : '/campgrounds' %>">
          <div class="col-lg-3 col-sm-3 col-3 text-center">
            <img src="/demo/man-profile.jpg" class="w-50 rounded-circle" />
          </div>
          <div class="col-lg-8 col-sm-8 col-8">
            <div>
              <strong class="text-info"><%= message.author.username %></strong>
              <span>
                <% if(message.type === 'campground'){ %>
                  <%= 'has create a new campground' %>
                <% }else { %>
                  <%= 'has reply to your comment' %>
                <% } %>
              </span>            
            </div>
            <small class="text-warning"><%= moment(message.createdAt).fromNow() %></small>
          </div>
        </a>
      </li>
    <% }) %>

    <% oldMessages.forEach(message => { %>
      <li class="py-2">
        <a class="row" href="<%= message.type === 'campground' ? '/campgrounds/' + message._id : '/campgrounds' %>">
          <div class="col-lg-3 col-sm-3 col-3 text-center">
            <img src="/demo/man-profile.jpg" class="w-50 rounded-circle" />
          </div>
          <div class="col-lg-8 col-sm-8 col-8">
            <div>
              <strong class="text-info"><%= message.author.username %></strong>
              <span>
                <% if(message.type === 'campground'){ %>
                  <%= 'has create a new campground' %>
                <% }else { %>
                  <%= 'has reply to your comment' %>
                <% } %>
              </span>            
            </div>
            <small class="text-warning"><%= moment(message.createdAt).fromNow() %></small>
          </div>
        </a>
      </li>
    <% }) %>
    
    <li class="footer bg-dark text-center">
      <a href="" class="text-light">View All</a>
    </li>
  </ul>
</li>
