<% include ../partials/header %>

<div class="container p-5">
  <div class="row">
    <h1 class="col-12">User profile</h1>

    <div class="col-lg-3 col-sm-12">
      <img
        src="https://i.pximg.net/img-original/img/2020/01/03/00/00/01/78673641_p0.png"
        style="width: 100%;"
      />
    </div>
    <div class="col-lg-9 col-sm-12">
      <div id="fullName">
        <h3>Full name</h3>
        <% if(currentUser.firstName && currentUser.lastName){ %>
        <p><%= currentUser.firstName + ' ' + currentUser.lastName %></p>
        <% }else{ %>
        <p class="font-weight-light">Unknown</p>
        <% } %>
      </div>
      <div id="email">
        <h3>Email</h3>
        <% if(currentUser.email ){ %>
        <p><%= currentUser.email%></p>
        <% }else{ %>
        <p class="font-weight-light">Unknown</p>
        <% } %>
      </div>
      <div id="role">
        <h3>Role</h3>
        <% if(currentUser.isAdmin ){ %>
        <p>Admin</p>
        <% }else{ %>
        <p class="font-weight-light">User</p>
        <% } %>
      </div>
    </div>

    <div class="col-12" id="posts">
      <h2>User posts</h2>
      <% if(campgrounds.length === 0){ %> No campgrounds available <% }else { %>
      <div class="row">
        <% campgrounds.forEach(campground => { %>
        <div class="card mb-3 col-lg-4 col-md-12">
          <div class="card-body">
            <div class="row">
              <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-12">
                <img
                  src="<%= campground.image %>"
                  style="max-width: 100%; display: block;"
                  alt="<%= campground.location %>"
                />
              </div>
              <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-12">
                <h5 class="card-title"><%= campground.name %></h5>
                <p class="card-text">
                  <%= campground.description.substr(0, 120).substr(0,
                  Math.min(campground.description.substr(0, 120).length,
                  campground.description.substr(0, 120).lastIndexOf(" "))) %>
                  <a href="/campgrounds/<%= campground._id %>">
                    >>>Full post
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
